<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
        <i class="devicon-dot-net-plain-wordmark colored"></i>
      <p>The .Net Framework allows for rich and reusable features across numerous platforms</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-csharp-plain colored"></i>
      <p>Every language has advantages.  C# is the language I use when I need to get work done efficiently</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
        <i class="devicon-git-plain colored"></i>
        <i class="devicon-github-plain-wordmark colored"></i>
      <p>Public free Repo with rich features that is built into Visual Studio... sign me up</p>
    </div>
  </div>
</div>
