<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="PowerShell" src="{{ "/assets/img/powershell.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Using PowerShell for Database access </h5>
      <li> PowerShell, C#, SQL Server</li>
      <p>Project that will use PowerShell commandlets to connect to and manage a database.  Why reinvent the wheel when PowerShell is already familiar to many in the IT community with all the features needed to access and manage basic database funtions.</p>
      <a class="project-link" href="#">https://github.com/keithlevalley/PowerShellUserInterface</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="restApi" src="{{ "/assets/img/restapi.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> REST API's for Remote Admin use </h5>
      <ul>
        <li> REST, ASP.NET, IIS</li>
      </ul>
      <p>This one is still a working theory until I flesh out all the security questions.  Hopefully it will allow for intranet exposed web services via an ASP.Net web page and secured through Active Directory.</p>
      <a class="project-link" href="#">Still under Construction</a>
    </div>
  </div>
</div>
